{
  "extends": [
    "@kth/eslint-config-kth",
    "prettier",
    "prettier/react",
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelAttributes": ["label"],
      "controlComponents": ["RadioInput"],
      "depth": 3
    }]
  }
}
